* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding-bottom: 600px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

.header-bg {
    background-color: #000;
}

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.header-menu a {
    display: inline-block;
    padding: 1rem 0;
    color: #fff;
    font-size: 1.125rem;
    position: relative;
}

.header-menu a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background-color: #fff;
    margin-top: 4px;
    transition: .3s;
    position: absolute;
}

.header-menu a:hover::after {
    width: 100%;
}

@media (max-width:800px) {
    .header-menu {
        gap: 20px;
    }
    .header-menu a {
        background-color: #111111;
        padding: 0.75rem 1rem;
        border-radius: 4px;
    }

    .header-menu a:hover {
        background-color: #2e2e2e;
    }
    .header a::after {
        display: none;
    }
}

@media (max-width:600px) {
    .header-menu {
        gap: 12px;
    }
    .header-menu a {
        padding: 0.5rem 0.75rem;
        font-size: 0.875rem;
    }
}

/* introducao */

.introducao-bg {
    background-color: #000;
    color: #fff;
    box-shadow: inset 0px -120px #fff;
}

.introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.introducao-conteudo {
    align-self: end;
    padding-bottom: 200px;
}

.introducao img {
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.introducao h1 {
    margin-bottom: 2rem;
    font-size: 4rem;
    line-height: 1.125;
}

.introducao h1 span {
    color: #ffbb00;
}

.introducao p {
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #b2b2b2;
}

.introducao-conteudo a {
    display: inline-block;
    padding: 1rem 2rem;
    background: linear-gradient(#FFBF00, #F2A50C);
    border-radius: 5px;
    color: #332200;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.33;
    font-size: 1.125rem;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.introducao a:hover {
    background: linear-gradient(#ffb60d, #e59317);
}
